{% extends 'base.html.twig' %}

{% block contenu %}
<ul class="list-group">
	{% for entrepriseCourante in entreprises %}
	<li class="list-group-item center">
		<a class="nav-link disabled" href="{{path('prostage_entreprise', {id:entrepriseCourante.id})}}">
			{{entrepriseCourante.nom}}
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}