{% extends 'base.html.twig' %}

{% block contenu %}
<ul class="list-group">
	{% for entrepriseCourante in entreprises %}
	<li class="list-group-item center">
		{{entrepriseCourante.nom}}
	</li>
	{% endfor %}
</ul>
{% endblock %}