{% extends 'base.html.twig' %}

{% block contenu %}
<ul class="list-group">
	{% for stagesCourant in stages %}
	<li class="list-group-item center">
		{{stagesCourant.titre}}
	</li>
	{% endfor %}
</ul>
{% endblock %}