{% extends 'base.html.twig' %}

{% block contenu %}
<ul class="list-group">
	{% for stagesCourant in stages %}
	<li class="list-group-item center">
		<a class="nav-link disabled" href="{{path('prostage_stages', {id:stagesCourant.id})}}">
			{{stagesCourant.titre}}
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}