{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container">
	<div class="row">
		Licence Programmation avancée
		<hr />
	</div>
	<div class="row">
		DUT Informatique
		<hr />
	</div>
</div>
{% endblock %}
