{% extends 'base.html.twig' %}



{% block contenu %}
<!--<ul>
	<li>
		<a href="{{path('prostage_stages', {id:1})}}">Stages</a>
	</li>
	<li>
		<a href="{{path('prostage_entreprise')}}">Entreprises</a>
	</li>
	<li>
		<a href="{{path('prostage_formations')}}">Formations</a>
	</li>
</ul>-->
<h1>Page d'accueil de ProStage !</h1>

<p>
	Il n'y a rien pour le moment!
</p>


{% endblock %}
