<h1>Bienvenue sur ProStage !</h1>

<p>
	Il n'y a rien pour le moment!
</p>

<ul>
	<li>
		<a href="{{path("prostage_stages", {id:1})}}">Axiome-solution</a>
	</li>
	<li>
		<a href="{{path("prostage_stages", {id:2})}}">Geomatika</a>
	</li>
</ul>