{% extends 'base.html.twig' %}

{% block contenu %}
<ul class="list-group">
	{% for stageCourant in formation.stages %}
	<li class="list-group-item center">
		<a class="nav-link disabled" href="{{path('prostage_stages', {id:stageCourant.id})}}">
			{{stageCourant.titre}}
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}